body{
    margin: 0;
    padding: 0;
    background: #fff;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.futureproof{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search{
    width: 500px;
    height: 45px;
    position: absolute;
    object-position: center;
    transform: translate(-5%, 50%);
}

input[type= "text"]{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d5d4d4;
    left: 0;
    border-radius: 50px;
    padding: 0 40px 0 45px;
    outline: none;
    box-shadow: 0 2px 10px -7px #000;
    font-size: 16px;
    font-family: sans-serif;
}

.search_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
